@using Lends.Models.Enums
@model Lends.Models.ViewModel.RentFormViewModel


@{
    ViewData["Title"] = "Criar";
}

<div class="jumbotron jumbotron-form">
    <h1 class="h1-subcategories">Criar Aluguel</h1>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Rent.GameId" class="control-label"></label>
                    <select asp-for="Rent.GameId" class="form-control"
                        asp-items="@(new SelectList(Model.Games.Where(g => g.Status == GameStatus.AVAILABLE), "Id", "Name"))">
                    </select>
                </div>
                <div class="form-group">
                    <link rel="stylesheet" href="~/css/select2.css" />
                    <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">
                    <label asp-for="Rent.ClientId" class="control-label"></label>
                    <select asp-for="Rent.ClientId" data-live-search="true" data-live-search-style="startsWith" 
                        class="form-control" id="simpleSelect2" 
                        asp-items="@(new SelectList(Model.Clients, "Id", "Name"))">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Rent.RentalDate" class="control-label"></label>
                    <input asp-for="Rent.RentalDate" class="form-control" />
                    <span asp-validation-for="Rent.RentalDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rent.ReturnDate" class="control-label"></label>
                    <input asp-for="Rent.ReturnDate" class="form-control" />
                    <span asp-validation-for="Rent.ReturnDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rent.Price" class="control-label"></label>
                    <input asp-for="Rent.Price" class="form-control" type="text" placeholder="R$" />
                    <span asp-validation-for="Rent.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-primary btn-create" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-link">Retornar</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_Select2Bootstrap");
    }
}
