@model Lends.Models.ViewModel.RentFormViewModel

@{
    ViewData["Title"] = "Criar";
}

<h1>Criar</h1>

<h4>Aluguel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rent.GameId" class="control-label"></label>
                <select asp-for="Rent.GameId" class="form-control"
                 asp-items="@(new SelectList(Model.Games, "Id", "Name"))"></select>
            </div>
            <div class="form-group">
                <link href="~/lib/select2-bootstrap-css/select2-bootstrap.css" rel="stylesheet" />
                <!-- select2-bootstrap4-theme -->
                <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">
                    <select name="simpleSelect2" asp-for="Rent.ClientId" data-live-search="true" data-live-search-style="startsWith" class="form-control" id="simpleSelect2" asp-items="@(new SelectList(Model.Clients, "Id", "Name"))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Rent.RentalDate" class="control-label"></label>
                <input asp-for="Rent.RentalDate" class="form-control" />
                <span asp-validation-for="Rent.RentalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rent.ReturnDate" class="control-label"></label>
                <input asp-for="Rent.ReturnDate" class="form-control" />
                <span asp-validation-for="Rent.ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rent.Price" class="control-label"></label>
                <input asp-for="Rent.Price" class="form-control" />
                <span asp-validation-for="Rent.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/js/select2.js"></script>
}
