@model Lends.Models.Producer

@{
    ViewData["Title"] = "Deletar";
}

<div class="jumbotron jumbotron-form">

    <h1 class="h1-subcategories">Deletar Fabricante</h1>

    <h4 class="delete-text">Você tem certeza que quer deletar esse fabricante?</h4>
    <dl class="dl-style">
        <div class="details-list">
            <dt class="dt-item col-sm-2 dt-item-key">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="dt-item col-sm-2">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </div>
        <div class="details-list">
            <dt class="dt-item col-sm-2 dt-item-key">
                @Html.DisplayNameFor(model => model.Cnpj)
            </dt>
            <dd class="dt-item col-sm-2">
                @Html.DisplayFor(model => model.Cnpj)
            </dd>
        </div>
    </dl>

    <form asp-action="Delete" class="delete-buttons">
        <div>
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Deletar" class="btn btn-outline-danger button-size" />
            <a asp-action="Index" class="btn btn-outline-warning button-size">Retornar</a>
        </div>
        @{
            if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
            {
                <div class="alert alert-dismissible alert-warning alert-size">
                    <button type="button" class="close close-button" data-dismiss="alert">&times;</button>
                    <p class="mb-0">Não é possível deletar esse fabricante pois ele está associado a um jogo.</p>
                </div>
            }
        }
    </form>
</div>